<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>HacktoberFest</title>
  </head>

  <body>
    <header class="header">
      <h1 class="header-title">HacktoberFest</h1>
    </header>
    <div class="container">
      <ul class="grid">
        {% for user in usersData %}
          <li>
            <div class="user">
              <img class="user-avatar" alt="" src="{{ user.avatarUrl }}" width="72" height="72"/>
              <div class="user-info">
                <strong class="user-speudo">@{{ user.login }}</strong>
                <span class="user-name">{{ user.name }}</span>
              </div>
              <progress class="user-progress progress" max="4" value="{{ user.prCount }}">{{ user.prCount }} / 4</progress>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
